.carrossel{
    position: relative;
    background-color: rgba(0, 0, 0, 0.726);
}

.carrosselImg{
    width: 30%;
    height: 32vh;
    color: white;
    display: none;
    position: relative;
    left: 460px;
}

.carrosselImg img{
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: 500px 150px;
}

.carrosselImg-Selecionado{
    display: block;
}

.carrosselNavegacao{
    width: 100%;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.botaoCarrossel{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.botaoCarrossel img{
    width: 30px;
    height: 30px;
    filter: brightness(50%);
    cursor: pointer;
}

.botaoCarrossel:hover,
.botaoCarrossel-Selecionado{
    filter: brightness(250%);
}