.banner{
    letter-spacing: -4px;
    padding: 200px;
    min-height: 100vh; /*respeita o tamanho mínimo da tela*/
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
}

ul li img{ 
    position: absolute; 
}

.caixaFormulario{
    padding: 40px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../imgs/textBox.png);
    background-position: 14vw 11vh;
    background-size: 40vw 35vh;
}

.caixaDados{
    position: relative;
    line-height: 40px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    left: 35%;
}

.campo{
    text-align: center;
    font-size: 1.15rem;
    padding: 10px;     
}

.campoVoto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    left: 25%;
}

.gostei,
.naoGostei{
    cursor:pointer;
    letter-spacing: -4px;
}

.porky img{
    position: relative;
    right: 120px;
}

/*Daqui pra baixo é o mural de avisos*/

.avisos {
    letter-spacing: -3px;
}

#avisos {
    font-size: 17px;
}

.formulario #postagem input,
textarea{
    color: white;
    border-radius: 5px;
    background-color: rgb(70, 11, 70);
    border: 2px solid cyan;
}

input{
    width: 350px;
    padding: 5px;
}

textarea{
    line-height: 20px;
    width: 800px;
}

button{
    background-color: rgb(55, 252, 252);
    border-radius: 10px;
    border: 3px solid rgb(70, 11, 70);
    width: 150px;
    padding: 5px;
}

button:hover{
    background-color: rgb(4, 133, 133);
    border-radius: 10px;
    border: 3px solid rgb(141, 22, 141);
    width: 150px;
    padding: 5px;
    cursor: pointer;
}

.publicacao{
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(70, 11, 70);
    border: 1px solid cyan;
    
}

.contagem{
    position: relative;
    left: 15%;
    text-align: center;
    font-size: 20px;
}

