.banner{
    padding: 200px;
    min-height: 100vh; /*respeita o tamanho mínimo da tela*/
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
}

ul li img{ 
    position: absolute; 
}

.caixaFormulario{
    padding: 40px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../imgs/textBox.png);
    background-position: 16vw 10vh;
    background-size: 510px 180px;
}

.caixaDados{
    letter-spacing: -3px;
    position: relative;
    line-height: 40px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    left: 17vw;
}

.campo{
    text-align: center;
    font-size: 18px;
    padding: 10px;     
}

.campoVoto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    left: 140px;
}

.gostei,
.naoGostei{
    cursor:pointer;
    letter-spacing: -4px;
}

.porky img{
    position: relative;
    right: 120px;
}

/*Daqui pra baixo é o mural de avisos*/